.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Inter",'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 70px;
  font-family: "Inter", 'Arial', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin: 183px 0 28px;
}

.header__span-accents {
  display: block;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  margin-top: 94px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  font-family: "Inter", 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter", 'Arial', sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  color: #ffffff;
}

.recipes__subtitle {
  font-family: "Noto Serif", 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0px 80px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter", 'Arial', sans-serif;;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

